
<section>
    <h2>Crie sua prórpia sala</h2>
    <form action="/create-room" method="POST">
        <Label class="sr-only" for="room-pass">Insira uma senha</Label>
        <input id="room-pass" name="password" type="password" placeholder="Insira uma senha">
        <button>
            <img src="images/usersw.svg" alt="">
            Criar Sala
        </button>
    </form>
</section>