<section>
    <h2>Entre como participante</h2>
    <form action="/enterroom" method="POST">
        <Label class="sr-only" for="room-id">C칩digo da sala</Label>
        <input name="roomId" id="room-id" type="number" placeholder="C칩digo da sala">
        <button>
            <img src="images/enter.svg" alt="">
            Entrar Na Sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Crie sua pr칩pria sala de forma f치cil</h2>

    <a href="/create-pass" class="button outlined">
        <img src="images/users.svg" alt="Criar sala"> Criar Sala
    </a>

</section>